{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<header class="masthead bg-blue first pb-5" style="background-size:cover;">
		<div class="container">
			<div class="extra-space-xxl"></div>
			<div class="d-block  d-lg-flex justify-content-between">
				<div class="align-self-center container text-white my-5">
					<h1 class="mb-4">
						<strong>Lorem, ipsum dolor.</strong>
					</h1>
					<h2 class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere error mollitia, facilis beatae, suscipit ad, temporibus possimus enim ratione veritatis nostrum sequi modi laboriosam vel.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere error mollitia, facilis beatae, suscipit ad.</h2>
					<a href="#" class="boutonsimplon bg-red text-uppercase" style="font-size: 15px;">en savoir plus</a>
				</div>
				<div class="d-flex justify-content-center">
					<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_wemsfyym.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
				</div>
			</div>
			<div class="extra-space-xl"></div>
		</div>
	</header>

	{% include "layouts/_infobulle.html.twig" %}
	{% include "layouts/_cardFormation.html.twig" %}
	{% include "layouts/_platCollab.html.twig" %}


{% endblock %}
