{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eaque at adipisci. Quo animi sequi mollitia repudiandae facilis sapiente officiis voluptas. Tempora sed impedit similique in quibusdam sint praesentium quod!</p>
{% endblock %}
