{# Section Card Formation, Homepage #}
<section class="bg-slight py-5 mont second">
<div class="formation-title">
    <h2 class="mb-1 second mont x-large"><span class="red">N</span>os formations</h2>
    <div class="formation-title-underline"></div>
</div>
    <div class="section-formation mt-5">
        <div class="grid-formation px-3">
            <div class="formation-card bg-first text-center">
                <div class="formation-content">
                    <h2 class="large second">Développeur·se Web et Web Mobile</h2>
                    <div class="small gdark formation-desc">De l’analyse du besoin à la mise en ligne, en passant par l’interface et la base de données, le·la développeur·se web conçoit et programme des applications web...</div>
                    
                    <div class="formation-btn">
                        <p class="formation-close small">Prochaine session : Mars 2023</p>
                        <div class="d-flex justify-content-around">
                            <a href="{{path('formation', {'formation_id': 1})}}" class="btntrans medium py-1 px-3 first">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formation-card bg-first text-center">
                <div class="formation-content">
                    <h2 class="large second">Référent·e Digital</h2>
                    <div class="small gdark formation-desc">De la stratégie de communication en ligne à la fidélisation en passant par la dématérialisation d’offres de service, le·la référent·e digital participe activement à la stratégie digitale d’une entreprise...</div>
                    
                    <div class="formation-btn">
                        <p class="formation-open small">Recrutement en cours</p>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="btntrans medium py-1 px-3 first">Découvrir</a>
                            <a href="#" class="btnred medium py-1 px-3 first">Postuler</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formation-card bg-first text-center">
                <div class="formation-content">
                    <h2 class="large second">Concepteur·trice Développeur·se d'Applications</h2>
                    <div class="small gdark formation-desc"> Le·la concepteur·rice développeur·se d’applications est un·e informaticien·ne qui intervient sur l’ensemble de la chaîne de production d’une application...</div>
                    
                    <div class="formation-btn">
                        <p class="formation-open small">Recrutement en cours</p>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="btntrans medium py-1 px-3 first">Découvrir</a>
                            <a href="#" class="btnred medium py-1 px-3 first">Postuler</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formation-card bg-first text-center">
                <div class="formation-content">
                    <h2 class="large second">Technicien·ne Supérieur·e Systèmes et Réseaux</h2>
                    <div class="small gdark formation-desc">De l’assistance aux utilisateurs, à la gestion d’un parc informatique, le·la technicien·ne supérieur·e systèmes et réseaux installe et maintient le matériel ainsi que le réseau et apporte du support informatique. </div>
                    
                    <div class="formation-btn">
                        <p class="formation-close small">Prochaine session : Mars 2023</p>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="btntrans medium py-1 px-3 first">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>