<section class="text-center bg-light testimonials">
    <div class="container">
        <h2 class="mb-2 secondary mont">Pourquoi choisir Simplon.co ?</h2>
        <div class="title-underline-center"></div>

        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/infobulle1.png') }}" />
                    <h5 class="secondary">L’apprentissage Simplon.co</h5>
                    <p class="font-weight-light dark mb-0">Une pédagogie active où l’apprenant est confronté à des mises en situation concrètes via des projets individuels et en groupe.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/infobulle2.png') }}" />
                    <h5 class="secondary">Une insertion professionelle</h5>
                    <p class="font-weight-light dark mb-0">L’apprenant est accompagnée par des formateurs experts du métier visé et des équipes en lien avec les entreprises du territoire.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/infobulle3.png') }}" />
                    <h5 class="secondary">Des certifications reconnues</h5>
                    <p class="font-weight-light dark mb-0">Quasiment toutes nos formations débouchent sur la délivrance de certifications reconnues par l'État ou par les professionnels.</p>
                </div>
            </div>
        </div>
    </div>
</section>