<section class="bg-slight">
    <div class="container py-3">
        <div class="row">
            <div class="col-6">
                <p class="mont x-large first bg-red my-4 px-2" style="width: max-content;">La Plateforme Collaborative</p>
                <p class="large">Netus nisi, sodales facilisis suspendisse et, nunc. Quis mi mauris dolor quam quam. Vitae nisl, dictum et, eu sit ante mi varius mattis. Quis mi mauris dolor quam.</p>
                <a href="#" class="ensavoirplus">En savoir plus...</a>
            </div>
            <div class="col-6">
                {# <img src="{{asset('img/platcollabillus.png')}}" alt="random image d'illustration"> #}
            </div>
        </div>
    </div>
</section>