<section class="text-center bg-light testimonials">
    <div class="container">
        <h2 class="mb-5">Pourquoi nous choisir ?</h2>
        <div class="title-underline-center"></div>

        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/testimonial1.png') }}" />
                    <h5>L’apprentissage Simplon.co</h5>
                    <p class="font-weight-light mb-0">&quot;Une pédagogie active où l’apprenant est confronté à des mises en situation concrètes via des projets individuels et en groupe.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/testimonial2.png') }}" />
                    <h5>Une insertion professionelle</h5>
                    <p class="font-weight-light mb-0">&quot;L’apprenant est accompagnée par des formateurs experts du métier visé et des équipes en lien avec les entreprises du territoire.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="{{ asset('img/testimonial3.png') }}" />
                    <h5>Des certifications reconnues</h5>
                    <p class="font-weight-light mb-0">&quot;Quasiment toutes nos formations débouchent sur la délivrance de certifications reconnues par l'État ou par les professionnels.&quot;</p>
                </div>
            </div>
        </div>
    </div>
</section>