:root {
	// couleurs primaires :

	/* --simplon-first:
	--simplon-second:
	--simplon-tertiary:
	--simplon-quartiary: */

	// charte couleur

	--simplon-charte-red: #D11328;
	--simplon-charte-first: #F9F9F9;
	--simplon-charte-blue: #1B3549;
	--simplon-charte-gdark: #898989;
	--simplon-charte-slight: #fefefe;
	--simplon-charte-light: #D0CECD;
	--simplon-charte-second: #333333;
    --border-radius-global: 0.6rem;

}

// background-color de la charte graphique en classe 


.bg-first {
    background-color: var(--simplon-charte-first);
}

.bg-second {
    background-color: var(--simplon-charte-second);
}

.bg-slight {
    background-color: var(--simplon-charte-slight);
}

.bg-glight {
    background-color: var(--simplon-charte-light);
}

.bg-gdark {
    background-color: var(--simplon-charte-gdark);
}

.bg-red {
    background-color: var(--simplon-charte-red);
}

.bg-blue {
    background-color: var(--simplon-charte-blue);
}

// classe charte couleur des textes


.first {
    color: var(--simplon-charte-first);
}

.second {
    color: var(--simplon-charte-second);
}

.slight {
    color: var(--simplon-charte-slight);
}

.glight {
    color: var(--simplon-charte-light);
}

.gdark {
    color: var(--simplon-charte-gdark);
}

.red {
    color: var(--simplon-charte-red);
}   

.blue {
    color: var(--simplon-charte-blue);
}

//link

.ensavoirplus {
    color: var(--simplon-charte-red);
    text-decoration: none;
    &:hover {
        color: rgb(163, 13, 30)
    }
}


// font google

.mont {
    font-family: Montserrat, "Segoe UI", sans-serif;
}

// taille des textes font size 


.verysmall {
    font-size: 0.4em !important;
}

.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: calc(1.125rem + 2px);
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

// radius

.radius {
    border-radius: var(--border-radius-global);
  }

/* soulignement titre */

.title-underline-center {
    border: 2px solid #222;
    border-radius: 2em;
    background-color: rgb(40, 73, 27);
    width: 3.5rem;
    float: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }

/* espacement */
.extra-space-m {
	width: 100%;
	height: 20px;
}
.extra-space-l {
	width: 100%;
	height: 40px;
}
.extra-space-xl {
	width: 100%;
	height: 60px;
}
.extra-space-xxl {
	width: 100%;
	height: 79px;
}

//fit

.fit {
    width: fit-content;
    height: fit-content;
}

.fit-h {
    height: fit-content;
}

.fit-w {
    width: fit-content;
}

//wrap 

.nowrap {
    white-space: nowrap;
}