.contact-clean{
    max-width:580px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffffc1;
    padding: 40px;
    border-radius: 10px;
    color: #505e6c !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .contact-clean h2 {
    margin-top: 14px;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 50px;
    color: inherit;
  }

  .contact-clean form .form-control {
    padding: 1em !important;
    border-radius: 10px !important;
    border: 1px solid !important;
    outline: none !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 1.4 !important;
    width: 100% !important;
    min-width: 80% !important;
    height: auto !important;
    transition: all 0.2s !important;
    box-shadow: none !important;
  }

 
  
  .contact-clean form .form-control:hover {
    cursor: pointer !important;
    background-color: #eeeeee !important;
  }
  
  .contact-clean form .form-control:focus {
    cursor: text !important;
    color: #333333 !important;
    background-color: white !important;
    border-color: #333333 !important;
   
  }
  
  
  
    