<turbo-stream action="update" target="contact">
    <template>

    {% include "messages/_form.html.twig" %}

        <div class="container flashmessage">
            <div class="xd-message">
                <div class="xd-message msg-success">
                
                    <div class="xd-message-icon">
                    <i class="fa fa-check"></i>
                    </div>

                    <div class="xd-message-content">
                    <p>Merci "{{ name }}" pour votre message ! On vous recontacte très vite . </p>
                    </div>

                    <a href="" class="xd-message-close">
                        <i class="fa fa-close"></i>
                    </a> 

                </div>
            </div> 
        </div>
    </div>   



       
    </template>
</turbo-stream>